.azeret-mono-normal{
  font-family: "Azeret Mono";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Nav-bar-styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}
.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: 0%;
}    

.nav-top-right-title{
    width: 180px;
    height: 40px;
    top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 14px 17px 14px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    margin-top: 30px;
    cursor: pointer;
}
/* header-style-section */

.full-resume{
    border: 2px solid blue;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.container{
    height: 552px;
    width: 1320px ;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    
}

.sub-container{
    height: 482px;
    width: 898px;
    display: flex;
    justify-content: center;
    margin-top: 26px;
    flex-direction: column;
}
.image-container{
    display: flex;
    justify-content: center;
}
.text-display{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-display h1{
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
}
.text-display p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.btn-primary{
    display: flex;
    justify-content: center;
    
      
}
.btn-text{
    height: 50px;
    width: 155px;
    padding: 10px 20px;
    background-color: #0D1321;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* why-web-development-styles */
.web-dev-container{
    height: auto 1315px;
    width: 1020px;
    padding: 80px 97px 80px 97px;
    display: flex;
    justify-content: center;
    background-color: #FEFEFE;
}
.sub-web-dev{
    width: 946px;
    display: flex;
    flex-direction: column;
}
.web-dev-header-sub{
    height: 115px;
    width: 946px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-dev-header{
    height: 115px;
    width: 852px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.web-dev-header h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.web-dev-header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
/* why-web-development main theme styles */
.display-content{
    height: 336px;
    width: 946px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.sub-display-content{
    width: 850px;
    height: 240px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.display-content-one{
    height: 220px;
    width: 477px;
}
.display-content-one h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.display-content-one p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.learn-more-text{

    width: 155px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.display-content-two{
    width: 277px;
    height: 240px;
}
/* second-box-start */
.second-main-display{
    height: 336px;
    width: 946px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-sub-display{
    height: 240px;
    width: 850px;
    display: flex;
    flex-direction: row;
}
.second-sub-display h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
   
}
.second-sub-display p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    
}
.second-learn-more{
    width: 155px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

/* inspiration-body-styles */
.main-container{
    width:950px;
   
    display: flex;
    border: 2px solid darkblue;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.inspiration-container{
    border: 2px solid yellow;
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
     margin: 25px 0px 25px 0px;
}
.inspiration-container h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px 15px;
    letter-spacing: 0%;
    
    
}
.inspiration-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
}

.iframe-use{
    border-radius: 16px;
    margin-top: 10px;
}
/* my-current-target-starts */

.current-target{
    width: 1015px;
    border: 2px solid saddlebrown;
    margin: 0 auto;
    text-align: center;
}
.current-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.current-text{

}

.target-main{
    display: flex;
    border: 2px solid chartreuse;
    margin-top: 80px;
    width: 1100px ; 
}
.html-title , .css-title , .js-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    
}
.html-text, .css-text, .js{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}
/* hand-shake-styles */

.image-bg{
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    height: 300px;
}
.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
}
p {
    font-size: 16px;
    margin: 10px 0;
}
.btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
input[type="text"] {
    width: 300px; /
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: wheat;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: inline;
  }
  
/* footer-section */
.main-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub-main-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}